@model IEnumerable<Ridwan.Web.NasiLiwet.Web.Models.Product>


@{
    ViewBag.Title = "Nasi Liwet 1001";
}

<!-- Jumbotron Header -->
<header class="jumbotron hero-spacer main-header">
    <div id="main-header-div">
        <h1 style="margin-left: 10px">Selamat Datang!</h1>
        <p style="margin-left: 10px">
            Dimulai pada awal tahun 2011, melalui berbagai macam eksperimen dan penelitian Kang Andris Wijaya, berhasil menemukan inovasi baru yaitu merubah beras yang tadinya hanya dijual curah menjadi oleh-oleh khas Garut yang unik dan memiliki nilai tambah yang besar secara ekonomi, maka terciptalah beras aromatic 1001 dan liwet instant 1001 dengan berbagai varian rasa
        </p>

    </div>
    <p>
        <a class="btn btn-primary btn-large">Lebih Lengkap</a>
    </p>
</header>
<hr>
<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3>Produk Terbaru</h3>
    </div>
</div>
<!-- /.row -->
<!-- Page Features -->
<div class="row text-center">
@foreach (var data in Model)
{

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="@data.PicUrl" alt="">
            <div class="caption">
                <h3>@data.Name</h3>
                <p>
                    @data.Name <br />
                   Berat: @data.Weight gr &nbsp;Harga Rp. @data.PriceString    
                </p>
                <p>
                    <a href="@Url.Action("Product","Home")" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>
}
    @*<div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="~/Content/img/nasiuduk-ungu.jpg" alt="">
            <div class="caption">
                <h3>Nasi Uduk Ungu</h3>
                <p>
                    Nasi uduk berwarna ungu yang bukan hanya enak namun juga menarik. <br />
                    Tersedia dalam ukuran 250 gr & 500 gr.
                </p>
                <p>
                    <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="~/Content/img/liwetinstan-jengkol.jpg" alt="">
            <div class="caption">
                <h3>Nasi Liwet Rasa Jengkol</h3>
                <p>Varian terbaru dari kami, dibuat khusus untuk para penikmat jengkol<br />
                    Tersedia dalam ukuran 250 gr & 500 gr.</p>
                <p>
                    <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="~/Content/img/liwetinstan-pedas.jpg" alt="">
            <div class="caption">
                <h3>Liwet Pedas</h3>
                <p>Liwet dengan rasa pedas yang membuat ketagihan <br />
                    Tersedia dalam ukuran 250 gr & 500 gr.</p>
                <p>
                    <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>*@
</div>